@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 216 0% 79% / 0.96;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

.dark {
  --background: 0 0% 10.98%;
  --foreground: 0 0% 98%;
  --muted: 360 0% 9%;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 0 0% 5%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 0 0% 7%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --ring: 217.2 32.6% 17.5%;

  --sh-class: #5a9fdb;
  --sh-identifier: #44b961;
  --sh-sign: #87a8ca;
  --sh-string: #9ecbff;
  --sh-keyword: #ff5849;
  --sh-comment: #8b949e;
  --sh-jsxliterals: #79c0ff;
  --sh-property: #ffa657;
  --sh-entity: #56d364;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
}

html {
  min-width: 360px;
}


#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Prevent layout shift */
.prevent-shift {
  min-height: 100vh;
}


::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.prose {
  @apply max-w-none;
}

.prose a {
  @apply underline transition-all decoration-muted-foreground underline-offset-2 decoration-[0.1em] hover:decoration-foreground;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  content: '#';
}

.prose pre {
  @apply bg-muted rounded-lg overflow-x-auto shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] py-4 px-4 text-sm my-4;
  max-width: 100vw;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg bg-muted text-foreground;
}

.prose pre code {
  @apply p-0 bg-transparent;
  border: initial;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-justify sm:text-left;
}

.prose h1 {
  @apply text-3xl sm:text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2,
.prose h3,
.prose h4 {
  @apply text-lg sm:text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  @apply h-2 w-2;
}

pre::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground rounded-full;
}

pre::-webkit-scrollbar-track {
  @apply bg-muted;
}

pre {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--muted));
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

@media (max-width: 640px) {
  .prose pre {
    @apply mx-0 rounded-none border-l-0 border-r-0;
  }
}